body {
  background-color: antiquewhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
  color: black;
  height: 100%;
}
h3 {
  margin-left: 7em;
  text-decoration: underline;
  margin-bottom: 0;
}
.maindiv {
  width: 40%;
  height: 400px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
}
i {
  font-weight: bold;
  color: brown;
}
.message {
  margin-left: 30em;
  color: #26547c;
  margin: auto;
  width: 50em;
}
.abstractSunrise {
  height: 40%;
  border: none;
  background: radial-gradient(
    90vmin circle at 50% 57%,
    #fff 5%,
    #ffe460 8%,
    #ff7519 90%
  );
}
.abstractSky {
  height: 30%;
  /* to blend in the sun rise colors to sklyline */
  background-image: linear-gradient(#f2f7f8, #1cbbf0, #fab55a);
}
.abstractSea {
  height: 30%;
  /* create an effect of sunshine on water */
  background: radial-gradient(
    ellipse at 50% 1%,
    rgb(151, 202, 247),
    #26547c 90%
  );
  filter: blur(1px);
  border: none;
}
#paintingTitle {
  text-align: center;
}
.buyerSection {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  margin-left: 9em;
  width: 50%;
  height: 30%;
  margin: auto;
}
.buyerdata {
  /* override text color black with a specific color here - CSS Specificity */
  color: #26547c;
}
/* image is set on top of painting using z-index */
#copyrightImage {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
  border-radius: 2em;
  margin: 0.2em;
}
/* thankyou page */
.thankyouText {
  text-align: center;
}
.footer {
  width: 99%;
  text-align: center;
  bottom: 2em;
  position: absolute;
}

/* media queries for screen width 700px and less */
@media only screen and (max-width: 700px) {
  body {
    /* orange background for small screens */
    background-color: #fab55a;
  }
  /* change display to column for smaller screens */
  .buyerSection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5% 0 5% 5%;
    width: 58%;
    height: 60%;
    margin: 5% 15%;
  }
  .buyerdata {
    padding: 10px;
  }
  .submit {
    width: 140px;
    padding: auto;
    margin-left: 30px;
    margin-top: 30px;
  }
  h3 {
    margin-left: 2em;
  }
  #paintingTitle {
    text-align: center;
    font-size: small;
  }
}

/* media queries for large monitors */
/* media queries for screen width 1300px or more */
@media only screen and (min-width: 1300px) {
  body {
    background-color: darkseagreen;
  }
  h3 {
    margin-left: 21em;
    text-decoration: underline;
    margin-bottom: 0;
  }
  /* change display to column for smaller screens */
  .buyerSection {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
  }
  .message {
    /* margin-left: 25em; */
    padding-bottom: 2em;
  }
  #copyrightImage {
    height: 60px;
    width: 60px;
  }
}
